.colorContainer {
  --primary-color: #3498db;
  --secondary-color: #661106;
  --text-color: #f9f9f9;
  --background-color: #aca4a3;
  --accent-color: #e74c3c; /* Deep red accent color */
  --heading-color: #F1CF7C; /* Deep red accent color for headings */
  --title-color: #b83b3b; /* Color for titles */
}

.fullScreenContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 95vh;
  flex-direction: column; /* Add this line to center the title and description */
}

.programContainer {
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px; /* Add a max-width for better layout on large screens */
}

.programImageContainer {
  width: 100%;
  max-width: 600px; /* Limit the maximum width */
  margin: 20px 0; /* Add margin for spacing */
}

.programImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.programContent {
  flex: 1;
  padding: 20px;
  background-color: #333;
  text-align: center; /* Center-align text */
}

.programTitle {
  font-size: 2.5rem;
  color: var(--title-color);
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.programDescription {
  font-size: 1.2rem;
  color: var(--text-color);
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
}

.programPhilosophySystem {
  margin-bottom: 30px;
  color: var(--text-color);
  text-align: left; /* Align left for better readability */
}

.programSectionHeading {
  font-size: 1.5rem;
  color: var(--heading-color);
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.programSectionHeading p {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.programFeatures {
  margin-bottom: 30px;
  text-align: left; /* Align left for better readability */
}

.programFeature {
  font-size: 1.1rem;
  color: var(--text-color); /* Ensure the text color is white */
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
}

.sliderBtn {
  text-align: center;
  margin-top: auto;
}

.buyTicketsBtn {
  font-size: 1.1rem;
  padding: 10px 20px;
  color: var(--text-color); /* Ensure the text color is white */
  background-color: #ac161e; /* Deep red background */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.buyTicketsBtn:hover {
  background-color: #ac161e; /* Bright blue on hover */
}

/* Social Media Icons Container */
.socialMediaIcons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 1000;
}

.socialMediaIcons a {
  color: var(--text-color); /* Ensure the text color is white */
  font-size: 2rem;
}

@media (max-width: 768px) {
  .programContainer {
    flex-direction: column;
  }

  .programImageContainer {
    max-height: 200px;
  }

  .programContent {
    padding: 10px;
  }

  .programTitle {
    font-size: 2rem;
  }

  .programDescription {
    font-size: 1rem;
  }

  .programSectionHeading {
    font-size: 1.2rem;
  }

  .programSectionHeading p {
    font-size: 1.2rem;
  }

  .programFeature {
    font-size: 1rem;
  }

  .buyTicketsBtn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
