/* Base Navigation Container */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 80px; /* Default height for larger screens */
}
.hamburgerToggle {
  display: none;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 8px;
}

.hamburgerIcon {
  display: block;
  width: 24px;
  height: 4px;
  background-color: white;
  position: relative;
  margin: 6px 0; 
}
/* Logo Styling */
.logo {
  position: relative;
  left: 0;
  top: 0;
  z-index: 800;
}

.logoImg {
  max-width: 120px;
  height: min-content;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 650px;
  position: relative;
  size: 35px;
}

.navLinks a {
  color: inherit;
  text-decoration: none;
  margin-left: 25px;
  font-size: 25px; /* Increase the font size */
}

.hamburgerIcon::before,
.hamburgerIcon::after {
  content: '';
  display: block;
  width: 24px;
  height: 2px;
  background-color: white;
  position: absolute;
}

.hamburgerIcon::before {
  top: -1px; /* Adjust the spacing between bars */
}

.hamburgerIcon::after {
  bottom: -1px; /* Adjust the spacing between bars */
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  .navContainer {
    height: 70px; /* Reduced height for screens up to 1200px */
  }

  .logoImg {
    max-width: 100px;
  }
}

@media (max-width: 992px) {
  .navContainer {
    height: 60px; /* Reduced height for screens up to 992px */
  }

  .logoImg {
    max-width: 90px;
  }
}

@media (max-width: 768px) {
  .navContainer {
    height: 50px; /* Reduced height for screens up to 768px */
  }

  .logo {
    display: none; /* Hide the logo on smaller screens */
  }
  .hamburgerToggle {
    display: block; /* Show the hamburger toggle button */
  }

  .hamburgerToggle {
    margin-left: auto;
  }
}

@media (max-width: 576px) {
  .navContainer {
    height: 40px; /* Reduced height for screens up to 576px */
  }
}

@media (max-width: 320px) {
  .navContainer {
    height: 30px; /* Reduced height for screens up to 320px */
  }
}

/* Hamburger Menu Styles */
.hamburgerMenu {
  display: none;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  background-color: #242423;
  padding: 10px; /* Decrease the padding */
  position: absolute;
  top: 50px; /* Adjust the top position based on the Navbar height */
  left: 0;
  right: 0;
  z-index: 998;
  max-height: calc(100vh - 50px); /* Adjust the max-height based on the Navbar height */
  overflow-y: auto;
}

.hamburgerMenu.open {
  display: flex;
}

.hamburgerMenu .navLinks {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  width: 100%;
  text-align: center; 
  /* Add this line */
}

.hamburgerMenu .navLinks > div {
  position: relative;
  width: 100%;
}

.hamburgerMenu .navLinks a {
  margin: 5px 0;
  font-size: 1.4rem; 
  align-items: center; /* Increase font size */
}

.hamburgerMenu .socialNav a {
  margin: 0 50px; /* Add some spacing between social icons */
  font-size: 2rem;
  padding: 10px; /* Increase font size */
}

.hamburgerMenu .socialNav {
  display: flex;
  flex-direction: row; /* Change to row direction */
  margin-left: 0; /* Remove left margin */
  margin-bottom: 10px; /* Decrease the bottom margin */
  width: auto;
}
.hamburgerMenu .programLinks {
  .hamburgerMenu .programLinks {
    display: none;
    background-color: #242423;
    padding: 10px;
    z-index: 1;
    width: 200px; /* Set a specific width value */
    margin: 0 auto; /* Center the dropdown menu horizontally */
  } /* Add margin-left: auto to push it to the right */
}
.hamburgerMenu .programLinks.open {
  display: block; /* Display the dropdown when open */
}

.hamburgerMenu .programLinks a {
  padding: 5px 0;
  transition: background-color 0.3s ease;
  font-size: 1.4rem; /* Increase font size */
}

.hamburgerMenu .programLinks div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hamburgerMenu .programLinks div {
  padding: 5px 0; /* Add padding for hover effect */
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.hamburgerMenu .programLinks div:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
}

.hamburgerMenu .navLinks a {
  margin-left: 0; /* Remove left margin */
}

.hamburgerMenu .navLinks > div {
  position: relative; /* Add position relative to the parent div */
}

.hamburgerMenu .programLinks a {
  padding: 5px 10px; /* Add padding to the program links */
}

.hamburgerMenu .navLinks a,
.hamburgerMenu .socialNav a {
  color: #e8e9eb;
  margin: 10px 0;
}

.navLinks a {
  color: inherit;
  text-decoration: none;
  margin-left: 25px;
  font-size: 1.4rem; /* Increase font size */
}

/* New styles for .programLinks */
.programLinks {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #242423;
  padding: 10px;
  z-index: 1;
}

.programLinks a {
  color: #e8e9eb;
  display: block;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
  font-size: 1.4rem; /* Increase font size */
}

.programLinks a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
}

.navLinks:hover .programLinks {
  display: block;
}

.socialNav {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

@media (max-width: 768px) {
  .navLinks,
  .socialNav {
    display: none;
  }

  .hamburgerToggle {
    margin-left: auto;
  }

  .hamburgerMenu {
    width: 100%;
    left: 0;
    right: unset;
    padding: 20px;
    background-color: #242423;
  }

  .hamburgerMenu .navLinks a,
  .hamburgerMenu .socialNav a {
    margin: 15px 0;
  }

  .hamburgerMenu .programLinks {
    padding-left: 20px;
  }
}