/* Base Navigation Container */
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: fixed;
  width: 100%;
  height: 80px; /* Default height for larger screens */
}

.navbar-nav {
  justify-content: center;
  width: 100%;
}

.nav-link {
  font-size: 1.25rem;
  padding: 0.5rem 1rem !important;
}

.container-fluid {
  justify-content: space-between;
}

.navbar-brand,
.navbar-toggler,
.ms-auto {
  flex: 0 0 auto;
}

.navbar-collapse {
  flex-grow: 2;
  justify-content: center;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #242423;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown .dropdown-menu.show {
  display: block;
}

.dropdown .dropdown-menu a {
  color: #f8f9fa;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-menu a:hover {
  background-color: #333;
}
/* ... */

/* Media queries */
@media (max-width: 992px) {
  .dropdown .dropdown-menu {
    position: static;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

  .dropdown .dropdown-menu a {
    padding: 8px 0;
    color: #f8f9fa;
  }
}

/* ... rest of your existing media queries ... */
